
@import './../variables';

#photo-book {
    background-color: $primary;
    padding: 5%;
    .title{
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
        margin-bottom: 2rem;
        color: $tertiary;
        margin-top: 0;
        font-family: $text-font-primary;
        font-size: 5rem;
    }
}