
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Rozha+One&display=swap');


$primary: #FFF7EE;
$secondary: #E5BDA7;
$tertiary: #74583E;
$fleet-gray: #5E6572;

$primary2: rgb(57 48 31);
$secondary2: rgb(237, 231, 209);
$text-primary: rgb(255,255,255);
$bg-primary: #ede7d1; 
$text-font-primary: Snell Roundhand, cursive;
$text-font-secondary: Comic Sans MS, Comic Sans, cursive;


$primary3-1: rgb(57 48 31);
$primary3-2: #6c4a3f;
$primary3-3: #896b60;
$primary3-4: #d0c7c2;
$primary3-5: #f5f2ea;

$raleway: "Raleway", sans-serif;
$sail: "Sail", system-ui;
$Baskervville: "Baskervville SC", serif;
$rozha: "Rozha One", serif;