/* external css: flickity.css */
@import './variables';
* { box-sizing: border-box; }

body { font-family: sans-serif; }


#carousel-main {
  background: $primary2;
  padding: 50px 0;

}
.carousel {
  background: $primary2;
  width: 80%;
  margin: auto;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 500px;
  }
}