@import './variables';

#gift {
    background-color: $primary;
    .content {
        padding: 0 100px;
        .main-content {
            .gift-content {
                padding: 0;
                position: relative;
                width: 70%;
                margin: auto;
            
                .reels {
                    display: flex;
                    flex-direction: column;
                    padding-left: 0;
                    position: absolute;
                    .reel-main {
                        .reel-img {
                            height: 200px;
                        }
                    }

                    &.reel2 {
                        right: 0;
                        bottom: 0;
                        transform: rotate(180deg);
                    }
                    &.reel1 {
                        left: 0;
                    }
                }
                

                
                .story-main {
                    padding: 30px 50px;
                    margin-left: 60px;
                    .title {
                        font-family: $text-font-primary;
                        text-align: center;
                        color: $primary2; 
                        font-weight: bold;
                        font-size: 140px;
                        position: relative;
                        color: $tertiary;
                        font-family: $rozha;
                    }

                    .registry {
                        position: relative;
                        left: -30px;
                        font-size: 70px;
                        font-weight: 100;
                        color: red;
                        font-family: $text-font-primary;
                    }

                    .thanks {
                        color: black;
                        width: 70%;
                        justify-content: center;
                        margin: auto;
                        font-size: 25px;
                        font-family: $Baskervville;

                    }

                    .bells {
                        height: 300px;
                    }

                    .gcash {
                        height: 500px;
                        margin: 30px 0;
                        border-radius: 10px;
                    }
                
                }

            }
        }
    }


//////////////////////// Mobile View ////////////////////////
    @media only screen and (max-width: 768px) {  
        .content {
            padding: 0;
            .main-content {
                .gift-content {
                    width: 100%;
                    .reels {
                        display: none;
                    }
                    .story-main {
                        padding: 0;
                        margin-left: 0;
                        .title {
                            font-size: 50px;

                        }
                        .registry {
                            left: -20px;
                            top: 10px;
                        }
                        .gcash {
                            height: 300px;
                        }
                    }
                }

        }

    }
}

}