@import './variables';

#main-save-the-date {
    background-image: url(../Assets/candles.webp);
    background-repeat: no-repeat;
    background-size: cover;         
    padding: 200px 20%;
    

    .content {
        background-color: black;
        opacity: .7; 
        padding: 50px 10%;
        .text-contents {
            display: flex;
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            flex-direction: column;
            gap: 10px;
            font-family: $raleway;
            font-size: 40px;
            .text-content {
                & .text1 {
                    font-family: $sail !important;
                    font-size: 60px;
                    color: $primary;
                }
                & .text3, & .text5 {
                    color: $secondary;
                }
                p {
                    margin-bottom: 0;
                }
            }


        }
    }
}