/* external css: flickity.css */

@import './../variables';
* { box-sizing: border-box; }

body { font-family: sans-serif; }


#carousel-main {
  height: 500px;
  background: $primary2;
  padding: 50px 0;
  background-image: url("../../Assets/prenup/faceless/momentum-256.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  position: relative; 

}
.carousel {
  width: 80%;
  margin: auto;
}


.carousel-cell {
  position: absolute; 
  bottom: 0;
  right: 0;
    .title {
    font-family: Snell Roundhand, cursive;;
    font-size: 3rem;
    margin-right: 3rem;
    color: $primary3-4;
  }
}

@media screen and ( max-width: 768px ) {

  .carousel-cell {
      .title {
      font-size: 2rem;
    }
  }
}