
@import './../variables';

#dress-code {
    font-family: $Baskervville;
    font-size: 25px;
    padding: 40px;
    background-color: $bg-primary;
    color: black;
    position: relative;
    p {
        margin-bottom: 0;
    }
    .title {
        font-size: 60px !important;
        margin-bottom: 10px;
        .the {
            font-family: $sail !important;
            font-size: 40px !important;
        }
    }

    .main-text {
        margin: 20px 0;

        .lined-text {
            text-decoration: underline;
        }
    }
    .colors {
        .color-main {
            display: flex;
            list-style: none;
            position: relative;
            gap: 20px;
            justify-content: center;
            margin-bottom: 0;
            padding-left: 0;
            .color {
                height: 60px;
                width: 60px;
                border-radius: 50px;

                &.color1 {
                    background-color: #708090;
                }
                &.color2 {
                    background-color: #6699cc;
                }
                &.color3 {
                    background-color: #93a8bd;
                }
                &.color4 {
                    background-color: #ffe135;
                }
            };
        }
    }

    .svg {
        position: absolute;
    }

    .svg-mobile {
        display: none;
    }

//////////////////////// Mobile View ////////////////////////
    @media only screen and (max-width: 768px) {
        .svg {
            display: none;
        }
        .svg-mobile {
            display: block;
        }
        .colors {
            .color-main {
                .color {
                    height: 40px;
                    width: 40px;
                }
            }
        }

    }
}