
@import './../variables';
#main-rsvp{
    background-image: url(../../Assets/prenup/faceless/momentum-117.jpg);
    background-repeat: no-repeat;
    background-size: cover;         
    background-position: center center;    
    padding: 5% 15%;
    .rsvp-main-contents {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
        .rsvp-left{
            width: 100%;
        }
    }
    .rsvp-contents {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0;

        .rtc {
            color: $primary;
            font-size: 38px !important;
            font-family: $text-font-primary !important;
            margin-bottom: 100px !important;
        }

        .pls {
            color: red;
            font-size: 50px !important;
            font-family: $Baskervville !important;
        }

        .rsvp {
            font-size: 50px !important;
            font-family: $Baskervville !important;

        }
        .content {
            h6 {
                font-family: $raleway;
                font-weight: 300;
                font-size: 15px;
                margin: 0;

            }
            hr {
                height: 8px;
                width: 5%;
                margin: 10px auto 20px;
                background-color: $primary;
                border-width: 0;
            }
            .timer {
                font-weight: 300;
                font-size: 30px;
                margin-bottom: 50px;
            }

            .title {
                margin-bottom: 50px;

            }

            .place {

                margin-bottom: 70px;
            }

            .time { 
                margin-bottom: 50px;
            }

        }
        .rsvp-button {
            background-color: $tertiary;
            padding: 15px;
            border-radius: 25px;
            width: 50%;
            color: $primary;
            border-style: none;
            display: block;
            text-decoration: none;
            margin: auto;

            &:hover {
                opacity: .8;
            }
        }
    }

        
//////////////////////// Mobile View ////////////////////////
    @media only screen and (max-width: 768px) { 
        padding: 100px 5%;
        .rsvp-main-contents {
            flex-direction: column;
            .rsvp-left {
                margin-bottom: 40px;
            }
        }
        .rsvp-contents {
            .rtc {
                margin-bottom: 20px;
            }

        }
    
    }
        
    
}