
@import './../variables';
#main-save-the-date {
    background-image: url(../../Assets/candles.webp);
    background-repeat: no-repeat;
    background-size: cover;         
    padding: 5% 20%;
    

    .content {
        background-color: black;
        opacity: .7; 
        padding: 50px 10%;
        .text-contents {
            display: flex;
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            flex-direction: column;
            gap: 10px;
            font-family: $raleway;
            font-size: 40px;
            .text-content {
                & .text1 {
                    font-family: $sail !important;
                    font-size: 60px;
                    color: $primary;
                }
                & .text3, & .text5 {
                    color: $secondary;
                }
                p {
                    margin-bottom: 0;
                }
            }


        }
    }

        
//////////////////////// Mobile View ////////////////////////
    @media only screen and (max-width: 768px) {
        padding: 100px 5%;
        .content {   
            padding: 0;
            .main-content {
                display: block;
                .main-story {
                    width: 100%;
                    display: block;
                    padding: calc(100vw - 90vw);
                    .reels {
                        display: none !important;
                    }
                    .story-main {
                        width: 100%;
                        margin-left: 0;
                        margin-top: 0;
                        padding: 0;
                        
                    }
                }
                .main-pic {
                    @media only screen and (max-width: 768px) {
                        width: 100%;
                        padding-bottom: 20px !important;
                        margin: auto;
                        .main-pic {
                            position: static !important;
                            width: 90% !important;
                            padding: 10px 0;
                            }

                        .pic {
                            position: static !important;
                            width: 80% !important;
                            height: unset !important;

                        }
                        }

                }
                    
            }
        }
    }
}