@import url("./Styles/index.scss");

.App {
  text-align: center;
  font-family: Gill Sans, sans-serif;
  color: whitesmoke;
  background-image: url("./Assets/prenup/final/momentum-339.jpg");
  background-position: center center;   
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;                
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
